* {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

:root {
  --b-color: #2B2E4A;
  --dr-color: #903749;
  --r-color: #E84545;
}

.body {
  /*overflow-x: hidden;*/
  /*overflow-y: hidden;*/
}

.container--r, .container--b, .container--p {
  height: 100vh;
}

.container--r {
  background-color: var(--r-color);
  color: var(--b-color);
}

.container--dr {
  background-color: var(--dr-color);
  color: #fff;
}

.container--b {
  background-color: var(--b-color);
  color: #fff;
}

.container--p {
  background-color: var(--p-color);
  color: var(--r-color);
}

.btn {
  padding: 10px 1em;
  border: 4px solid var(--b-color);
  border-radius: 20px;
  background: transparent;
  color: var(--b-color);
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background: var(--b-color);
  color: var(--r-color);
  transition: ease-in .2s;
}

.nav {
  height: 3em;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.nav__brand {
  margin: auto 10px;
}

.nav__menus {
  display: flex;
  justify-content: space-around;
}

.nav__linkOpt {
  color: #fff;
  padding: 1em;
}

.nav__linkOpt:hover {
  background-color: var(--r-color);
  transition: ease-in .2s;
  color: var(--b-color);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.hidden {
  display: none;
}

.navfixed__icon {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
  color: #fff;
  background: var(--b-color);
  padding: 0.5em;
  border: 4px solid var(--dr-color);
  border-radius: 30%;
  box-shadow: 0 0 8px 1px #222;
  transform: scale(0);
  transition: 300ms ease;
}

.navfixed__icon:hover {
  transform: scale(1.1);
}

.navfixed__menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: #2226;
}

.navfixed__menus {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.navfixed__linkOpt {
  color: #fec;
  font-size: 4em;
  text-shadow: 2px 3px 5px #000;
}

.about__info, .about__skills, .proyects__container, .contact__container {
  width: 90vw;
  margin: 0 auto;
}

.header {
  height: fit-content;
  min-height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  height: fit-content;
  min-height: calc(100vh - 3em);
  overflow: hidden;
  padding-left: 5vw;
}

.main__img {
  height: calc(100vh - 3em);
  min-height: 500px;
}

.main__info-wrap {
  padding: 20px;
}

.main__title {
  padding-bottom: 10px;
}

.main__title--big {
  font-size: 1.7em;
  font-style: italic;
}

.main__btn {
  margin-top: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  min-height: 100vh;
}

.about__info {
  margin-bottom: 2rem;
  margin-top: 10px;
}

.about__title {
  padding-bottom: 4px;
  border-bottom: 4px solid var(--r-color);
}

.about__wrapper {
  margin: 1rem auto;
  padding: 20px;
  background-color: var(--dr-color);
  border-radius: 10px;
}

.about__text {
  text-align: justify;
}

.about__skillsContainer {
  font-size: 2em;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  text-align: center;
}

.about__skillName {
  font-size: 0.8rem;
}

.proyects {
  display: flex;
  align-items: center;
  height: fit-content;
  min-height: 100vh;
}

.proyects__container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr 8fr;
  row-gap: 20px;
}

.proyects__title {
  padding-bottom: 4px;
  border-bottom: 4px solid var(--b-color);
  grid-column: 1 / 3;
}

.proyects__proyect {
  background-color: var(--dr-color);
  color: #fff;
  border: 4px solid var(--b-color);
  padding: 20px;
  margin: 10px;
}

.proyects__name {
  margin: 10px 0;
}

.proyects__links {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2rem;
}

.proyects__links a {
  margin: 0 10px;
}

.contact {
  border-top: 8px solid var(--b-color);
  padding: 40px 0;
}

.contact__title {
  border-bottom: 4px solid var(--b-color);
  padding-bottom: 4px;
  margin-bottom: 20px;
}

.contact__social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
}

.contact__social h2 {
  grid-column: 1 / 4;
}

.contact__net {
  width: fit-content;
  margin: 0 auto;
}

.contact__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.contact__icon {
  font-size: 4em;
}

@media(max-width:700px) {
  .main__img {
    display: none;
  }

  .main__info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__title {
    text-align: center;
    margin-bottom: 15px;
  }

  .main__txt {
    text-align: justify;
  }
}

@media(max-width: 555px) {
  .nav {
    display: none;
  }

  .proyects__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 4fr;
  }

  .proyects__title {
    grid-column: auto;
  }

  .navfixed__linkOpt {
    font-size: 2em;
  }

  .navfixed__icon {
    transform: scale(1);
  }
}
