* {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

:root {
  --bg-b-color: #2B2E4A;
  --bg-dr-color: #903749;
  --bg-r-color: #E84545;
  --bg-p-color: #53354A;
}

.body {
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}

.container--r, .container--dr, .container--b, .container--p {
  width: 100vw;
  height: 100vh;
}

.container--r {
  background-color: var(--bg-r-color);
  color: var(--bg-b-color);
}

.container--dr {
  background-color: var(--bg-dr-color);
  color: #fff;
}

.container--b {
  background-color: var(--bg-b-color);
  color: #fff;
}

.container--p {
  background-color: var(--bg-p-color);
  color: var(--bg-r-color);
}

.nav {
  height: 3em;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.nav__brand {
  margin: auto 10px;
}

.nav__menus {
  display: flex;
  justify-content: space-around;
}

.nav__linkOpt {
  margin: auto 10px;
  color: #fff;
}

.main {
  display: flex;
  align-items: center;
  height: calc(100vh - 3em);
}

.main__img-container {
  width: 50%;
  height: 100%;
}

.main__img {
  height: 100%;
}

.main__info-wrap {
  padding: 20px;
}

.main__title {
  padding-bottom: 10px;
}

.main__title--big {
  font-size: 1.7em;
  font-style: italic;
}
.main__btn {
  margin-top: 20px;
}
